:root {
  --four-column: 4;
  --three-column: 3;
  --two-column: 2;
  --one-column: 1;
  --spacing: 2rem;
  --transition: all 0.3s linear;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: "Cardo", serif;
  font-size: 1.6rem;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

.scroll-body {
  overflow: hidden;
}

.header {
  position: relative;
}

.login-section {
  background-color: #1565c0;
  padding: 0 90px;
}

.login {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}

.login-function {
  margin-left: auto;
}

.login-help a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s linear;
}
.login-help a:hover {
  color: #c5c5c5;
}
.login-help a span {
  padding: 0 0.4rem;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  color: #000;
}

.login-function a {
  color: #fff;
  margin-left: 5rem;
  text-decoration: none;
  transition: all 0.2s linear;
}
.login-function a:hover {
  color: #c5c5c5;
}

nav {
  background-color: #0d59af;
  padding: 2rem 9rem;
  display: flex;
  align-items: center;
}
nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s linear;
}
nav a:hover {
  color: #c5c5c5;
}
nav span {
  color: #fff;
}

.logo {
  font-size: 2.5rem;
}

.logo a {
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
}
.menu li {
  margin-left: 3rem;
  padding: 10px;
  border-radius: 5px;
}
.menu li a {
  text-decoration: none;
}

.menu-active-main {
  border: 1px solid #fff;
}

.cart {
  margin-left: auto;
  text-align: right;
}

.cart-item {
  margin-bottom: 2px;
}
.cart-item i {
  color: #fff;
}

.menu-sticky-logo {
  display: none;
}

.sticky-menu {
  display: none;
}

@media screen and (max-width: 1023px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 2rem;
  }

  .menu {
    display: none;
  }

  .cart {
    display: none;
  }

  .menu-sticky-logo {
    display: block;
  }

  .sticky-menu {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%) translateX(100%);
    width: 30rem;
    height: auto;
    background-color: #0d59af;
    z-index: 99;
    transition: var(--transition);
  }
  .sticky-menu li {
    padding: 2rem;
    border-bottom: 1px solid #fff;
  }
  .sticky-menu li:last-child {
    border-bottom-color: transparent;
  }
  .sticky-menu li a {
    text-decoration: none;
  }

  .menu-active {
    transition: all 0.2s linear;
    display: block;
    transform: translateY(100%) translateX(0%);
  }
}
@media screen and (max-width: 767.98px) {
  .login-section {
    padding: 0 45px;
  }

  .login-function {
    margin-left: auto;
    display: flex;
    font-size: 1rem;
  }

  .login-function a {
    margin-left: 2rem;
  }

  .login-help a {
    font-size: 1rem;
  }

  nav {
    padding: 2rem 4.5rem;
  }
}
.carousel ol li {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.carousel-indicators .active {
  background-color: #f1a228;
}

.carousel-indicators li {
  background-color: #808080;
}

.collection {
  padding: 6rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "h1 h1 h2 h2" "h1 h1 h3 h4";
  grid-gap: 2rem;
}
.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}
.collection__item {
  cursor: pointer;
  overflow: hidden;
}
.collection__item:first-child {
  grid-area: h1;
}
.collection__item:nth-child(2) {
  grid-area: h2;
}
.collection__item:nth-child(3) {
  grid-area: h3;
}
.collection__item:nth-child(4) {
  grid-area: h4;
}
.collection__item:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 767.98px) {
  .collection {
    padding: 2rem 4.5rem;
    display: block;
  }
}
.new-product {
  padding: 6rem 10rem;
  text-align: center;
  background-color: #f9f8f8;
}

.new-product-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1565c0;
  margin-bottom: 6rem;
}

.product-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing);
}
.product-lists img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}

.product-item {
  width: calc(100% / var(--four-column) - var(--spacing));
}

.product-content {
  border: 1px solid #bdbdbdad;
}

.item-image {
  overflow: hidden;
  cursor: pointer;
}
.item-image:hover img {
  transform: scale(1.2);
}

.item-content {
  padding: 3rem 3rem 1rem 3rem;
}
.item-content h3 {
  font-size: 1.8rem;
  color: #1565c0;
  font-weight: 600;
  margin-bottom: 2rem;
  transition: var(--transition);
  cursor: pointer;
}
.item-content h3:hover {
  color: #000;
}
.item-content p:first-of-type {
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.item-content p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.btn {
  width: 14rem;
  height: 3rem;
  font-size: 1.2rem;
  color: #1565c0;
  background-color: transparent;
  border: 2px solid #f1a228;
  transition: all 0.3s linear;
}

.btn:hover {
  background-color: #f1a228;
  color: #0d59af;
}

@media screen and (max-width: 1179px) {
  .product-item {
    width: calc(100% / var(--two-column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .new-product {
    padding: 2rem 4.5rem;
  }

  .product-item {
    width: calc(100% / var(--one-column) - var(--spacing));
  }
}
.trending {
  position: relative;
  text-align: center;
}
.trending::after {
  content: "";
  position: absolute;
}

.trending-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trending-content {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.trending-content span {
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.trending-content h3 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.button {
  margin-left: 1rem;
}
.button .btn-trending {
  width: 10rem;
  margin-right: 1rem;
  color: #fff;
  font-size: 1.2rem;
  background-color: #f1a228;
  font-weight: 600;
  border: none;
  outline: none;
  transition: all 0.3s linear;
  line-height: 2rem;
}
.button .btn-trending:hover {
  color: #fff;
  background-color: transparent;
  border: 2px solid #f1a228;
}

@media screen and (max-width: 767.98px) {
  .trending-content h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .trending-content span {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .button .btn-trending {
    width: 7rem;
    height: 2.6rem;
    font-size: 0.8rem;
  }
}
.new-arrivals {
  padding: 2rem 4.5rem;
  text-align: center;
  background-color: #fff;
}

.latest-fashion {
  padding: 6rem 10rem;
  text-align: center;
  background-color: #f9f8f8;
  cursor: pointer;
}
.latest-fashion__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing);
}
.latest-fashion__item {
  width: calc(100% / var(--three-column) - var(--spacing));
  position: relative;
}
.latest-fashion__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}

.latest-fashion h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1565c0;
  margin-bottom: 6rem;
}

.latest-fashion-image {
  overflow: hidden;
}

.latest-fashion-image:hover img {
  transform: scale(1.2);
}

.latest-fashion-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0d59af9f;
  color: #fff;
  padding: 1rem;
}

.latest-fashion-discount {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  background-color: #0d59af;
  color: #fff;
  font-size: 1.4rem;
  margin: 1rem;
  border-radius: 100%;
}

@media screen and (max-width: 767.98px) {
  .latest-fashion {
    padding: 2rem 4.5rem;
  }

  .latest-fashion__item {
    width: calc(100% / var(--one-column) - var(--spacing));
  }
}
.footer {
  padding: 6rem 10rem;
  background-color: #0d59af;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--spacing);
}
.footer__column {
  width: calc(100% / var(--four-column) - var(--spacing));
}
.footer__column h2 {
  font-size: 2.5rem;
  font-family: "Cardo", serif;
  margin-bottom: 2rem;
}
.footer__column p {
  font-size: 1.5rem;
  line-height: 1.2;
}
.footer__column ul li {
  margin-bottom: 2rem;
}
.footer__column ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}
.footer__column ul li a:hover {
  color: #eee;
}

.footer .footer-contact ul li {
  display: flex;
  align-items: stretch;
}

.footer .footer-contact ul li a {
  margin-left: 2rem;
  line-height: 1.2;
  word-break: break-all;
}

@media screen and (max-width: 1023px) {
  .footer ul li {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767.98px) {
  .footer {
    padding: 2rem 4.5rem;
  }

  .footer__column {
    width: calc(100% / var(--one-column) - var(--spacing));
  }

  .footer .footer-contact ul li a {
    line-height: 1.5;
  }
}
.copyright {
  padding: 2rem 10rem;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright i {
  font-size: 3rem;
  margin-left: 0.4rem;
  cursor: pointer;
}
.copyright i:first-child {
  color: #f1a228;
}
.copyright i:nth-child(3) {
  color: #657bc3;
}
.copyright i:nth-child(4) {
  color: #68c4ed;
}

.copyright-content {
  font-size: 1.4rem;
}

@media screen and (max-width: 767.98px) {
  .copyright {
    padding: 2rem 4.5rem;
  }
  .copyright i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1179) {
  .product-item {
    width: calc(100% - var(--two-column) - var(--spacing));
  }
}

/*# sourceMappingURL=style.css.map */
